@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">Health Care Assistant</h1>
    <br />
    <br />
    <a class="btn btn-success" href="/Users/Index">Login</a>
    <a class="btn btn-secondary" href="/Users/Create">Create Account</a>
</div>



